html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* My additions */
.site-index {
    background-image: url("/images/profile.png");
    background-repeat: no-repeat;
}

.container {
    width: 980px;
}

#profile-summary {
    margin: 10px;
    /* opacity: 0.5; */
}

#profile-description {
    padding: 0 16px;
}

#profile-images {
    padding: 0;
}

.more-button {
    display: inline-block;
    height: 24px;
    border-radius: 10px;
    margin: auto;
    padding: 2px 12px;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    background: #CCCCCC;
}

.more-button:after {
    content: ">";
}

.more-button a {
    text-decoration: none;
}

.more-float {
    float: right;
    position: relative;
    top: -20px;
}

.user-avatar {
    display: block;
    margin: 5px;
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

.job-link {
    display: block;
    width: 150px;
}

.job-avatar {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.job-link span {
    background: #9999cc;
    width: 150px;
    position:relative;
    top: -24px;
}

.profile-row {
    width: 175px;
    font-weight: bold;
    vertical-align: top;
}

.d2-box {
    margin: 20px;
    border: solid 1px;
    border-radius: 5px;
}

.d2-box .head {
    margin: 0;
    padding: 10px;
    height: 36px;
    border-bottom: solid 1px;
}

.d2-box h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

#related-profiles {
    background: #9999cc;
    position:relative;
    top: -36px;
} 

.bages {
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.bages li {
    display: inline-block;
    width: 150px;
    margin: 10px;
    padding: 0;
    text-align: center;
    vertical-align: top;
    clear: both;
}

.bages li a {
    display: block;
    color: #999999;
    text-decoration: none;
}

.bages li img {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

.bages li span {
    display: block;
}

.level-image {
    padding: 5px 0;
    text-align: center;
}

.level-image img {
    display: block;
    margin: auto;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.level-name {
    padding: 0;
}

.level-name h2{
    font-width: bold;
}

.level-name span{
    font-width: bold;
    text-transform: uppercase;
}

.level-columns {
    padding: 0;
}

#scorebox {
    text-align: center;
}

.score {
    display: inline-block;
    height: 48px;
    border-radius: 24px;
    margin: 10px auto;
    padding: 2px 12px;
    text-align: center;
    text-transform: capitalize;
    font-size: 24pt;
    color: #ffffff;
    background: #CCCCCC;
}

.buy {
    display: inline-block;
    height: 24px;
    border-radius: 12px;
    margin: 10px auto;
    padding: 2px 12px;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    background: #CCCCCC;
}

.buy:after {
    content: ">";
}
